# ivlog files
*.out
*.dvt
*.log

# questa files
work/
*.mpf
*.wlf
*.cr.mti
*.vcd
*.vstf

# quartus files
db/
greybox_tmp/
hps/
incremental_db/
output_files/
simulation/
altera_mf.v
*.qpf
*.qsf
*.bak
*.qws
*.txt

# unwanted tb_ files
tb_*.sv
tb_*.v

# other
.vscode/